.business-portrait {
    padding-bottom: calc(80px + (160 - 80) * ((100vw - 320px) / (1600 - 320)));
    &__title {
        margin-bottom: calc(30px + (55 - 30) * ((100vw - 320px) / (1600 - 320)));
    }
    &__text {
        max-width: 842px;
        color: $titlesColor;
        font-size: 18px;
        font-weight: 400;
        line-height: 140%;
        margin-bottom: 40px;
        @media (max-width: $md3) {
            font-size: 16px;
            margin-bottom: 30px;
          }
    }
    &__button {
        background: $titlesColor;
        padding: 14px 26px;
        margin-bottom: 100px;
        @media (any-hover: hover) {
            &:hover {
              color: $titlesColor;
              background: #fff;
              border: 3px solid $titlesColor;
            }
          }
          @media (max-width: 1150px) {
           margin-bottom: 30px;
          }
          @media (max-width: 620px) {
            margin-bottom: 30px;
          }
          @media (max-width: $md4) {
            width: 100%;
          }
    }
    &__inner {
        background: $bgcolorGray;
        padding-top: 120px;
        padding-bottom: 90px;
        @media (max-width: 1150px) {
          padding-top: 70px;
          padding-bottom: 50px;
        }
    }
    &__subtitle {
        margin-bottom: 40px;
        @media (max-width: $md3) {
            margin-bottom: 30px;
          }
    }
    &__container {
        display: flex;
        gap: 60px;
        @media (max-width: $md3) {
            display: block;
          }
    }
    &__image {
        overflow: hidden;
    }
    &__desc {
        color: $titlesColor;
        font-size: 20px;        
        font-weight: 400;
        line-height: 140%; 
        margin-bottom: 15px;
        margin-top: 15px;
        @media (max-width: $md3) {
            font-size: 18px;
          }
    }
    &__list {
        padding-left: 40px;
    }
    &__elem {
        list-style-type: disc;
        margin-bottom: 10px;
        color: $titlesColor;
        font-size: 20px;
        font-weight: 400;
        line-height: 140%;
        @media (max-width: $md3) {
            font-size: 18px;
          }
    }

}

.bp-examples {
    padding-bottom: calc(70px + (190 - 70) * ((100vw - 320px) / (1600 - 320)));
    &__container {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 32.3%);
        grid-template-rows: repeat(3,auto);
        grid-template-areas: 
            "wide1 wide2 wide3"
            "wide4 wide2 wide5"
            "wide6 wide7 wide5"
            "wide6 wide7 wide8";
            @media (max-width: 1439px) {
                gap: 10px;
            }
            @media (max-width: 800px) {
                grid-template-columns: repeat(2, 49.3%);
                grid-template-rows: repeat(6, auto);
                grid-template-areas: 
                "wide1 wide2"
                "wide3 wide2"
                "wide4 wide5"
                "wide6 wide5"
                "wide6 wide7"
                "wide6 wide7";
            }
            @media (max-width: 540px) {
                display: block;
            }
    }

    .bp-examples__item_first {
        grid-area: wide1;
    }
    .bp-examples__item_second {
        grid-area: wide2;
    }
    .bp-examples__item_third {
        grid-area: wide3;
    }
    .bp-examples__item_forth {
        grid-area: wide4;
    }
    .bp-examples__item_fifth {
        grid-area: wide5;
    }
    .bp-examples__item_sixth {
        margin-top: -20px;
        grid-area: wide6;
        @media (max-width: 1024px) {
           margin-top: 0;
        }
    }
    .bp-examples__item_seventh {
        grid-area: wide7;
    }
    .bp-examples__item_eigth {
        grid-area: wide8;
    }
    &__title {
        margin-bottom: calc(30px + (67 - 30) * ((100vw - 320px) / (1600 - 320)));
        text-align: center;
    }
    &__desc {
        color: rgba(30, 30, 30, 0.80);
        font-weight: 300;
        line-height: 140%; 
        padding-top: 15px;
        @media (max-width: 540px) {
            margin-top: 5px;
            margin-bottom: 15px;
        }
    }
}

.bp-examples__item {
    display: block;
    max-width: 460px;
    overflow: hidden;
    @media (max-width: 540px) {
        img {
            width: 100%;
        }
       max-width: 100%;
    }
    img {
        overflow: hidden;
        transition: 0.5s;
        height: 100%;
        &:hover {
            transform: scale(1.03);
        }
    }
}