.call-form {
    background: $titlesColor;
    padding-bottom: calc(50px + (72 - 50) * ((100vw - 320px) / (1600 - 320)));
    &__body {
        position: relative;
        z-index: 3;
        display: flex;
        gap: 120px;
        @media (max-width: 1300px) {
            gap: 10px;
         }
         @media (max-width: 720px) {
            flex-direction: column;
         }
    }
    &__form {
        position: relative;
        margin-top: 80px;
        @media (max-width: $md4) {
            margin-top: 30px;
         }
    }
    &__title {
        color: #FFF;
        font-size: 32px;
        font-weight: 800;
        line-height: 110%;
        letter-spacing: 0.96px;
        margin-bottom: calc(30px + (40 - 30) * ((100vw - 320px) / (1600 - 320)));
        @media (max-width: $md2) {
            max-width: 320px;
         }
        @media (max-width: $md3) {
            font-size: 24px;
            letter-spacing: 0.72px;
            font-size: 24px;
            letter-spacing: 0.72px;
         }
         @media (max-width: 760px) {
            max-width: 100%;
         }
    }
    &__inputs {
        display: flex;
        gap: 20px;
        margin-bottom: 40px;
        @media (max-width: 1200px) {
            flex-direction: column;
            gap: 0;
            margin-bottom: 0;
         }
    }
    &__input {
        width: calc(300px + (340 - 300) * ((100vw - 320px) / (1600 - 320)));
        border-radius: 3px;
        background: rgba(255, 255, 255, 0.10);
        padding: 16px 28px;
        cursor: pointer;
        color: #FFF;
        transition: 0.3s;
        &::placeholder {
            color: rgba(255, 255, 255, 0.80);
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 0.64px;
        }
        @media (any-hover: hover) {
                &:hover {
                    background: rgba(255, 255, 255, 0.20);
                  }
        }
        @media (max-width: 1200px) {
            margin-bottom: 20px;
            width: 374px;
         }
         @media (max-width: 760px) {
           width: 100%;
         }
    }
    &__box {
        display: flex;
        align-items: center;
        gap: 15px;
        @media (max-width: $md2) {
            display: block;
            margin-bottom: 50px;
         }
    }
    &__button {
        background: #FFF;
        color: $titlesColor;
        padding: 15px 26px;
        border: 3px solid transparent;
        transition: 0.3s;
        @media (max-width: $md2) {
            margin-bottom: 10px;
         }
         @media (any-hover: hover) {
            &:hover {
                background: transparent;
                border: 3px solid #fff;
                color: #fff;
            }
          }
    }
    &__text {
        color: rgba(255, 255, 255, 0.50);
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.48px;
        a {
            color: inherit;
        }
        @media (any-hover: hover) {
            a {
                &:hover {
                    text-decoration: underline;
                  }
            }
        }
    }
    &__image {
        margin-top: -115px;
        width: calc(300px + (600 - 300) * ((100vw - 320px) / (1600 - 320)));
        height: calc(340px + (681 - 340) * ((100vw - 320px) / (1600 - 320)));
        @media (max-width: $md3) {
            height: 411px;
            margin-top: -50px;
         }
         @media (max-width: 720px)  {
            order: -1;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            margin-top: -80px;
         }
    }
}

.connection-call-form {
    &-media {
        display: none;
    }
    margin-top: -350px;
    @media (max-width: 2560px) {
        margin-top: -450px;
     }
     @media (max-width: 2100px) {
        margin-top: -350px;
     }
    @media (max-width: 1700px) {
        margin-top: -250px;
     }
     @media (max-width: 1300px) {
        margin-top: -200px;
     }
    @media (max-width: 1200px) {
        margin-top: 0;
     }
    &__title {
        color: #FFF;
        font-size: 32px;
        font-weight: 800;
        line-height: 110%;
        letter-spacing: 0.96px;
        margin-bottom: 30px;
        padding-top: 80px;
        @media (max-width: 1200px) {
           padding-top: 30px;
         }
        @media (max-width: $md3) {
            font-size: 24px;
            letter-spacing: 0.72px;
         }
    }
    &__messengers {
        display: flex;
        @media (max-width: 760px) {
            display: block;
         }
    }
    &__item {
        display: block;
        color: #FFF;
        font-weight: 400;
        line-height: 140%;
        margin-bottom: 20px;
        &:not(:last-child) {
            margin-right: calc(30px + (40 - 30) * ((100vw - 320px) / (1600 - 320)));
        }
        &_tel,
        &_whatsapp,
        &_telegram {
            &::before {
                content: '';
                width: 18px;
                height: 18px;
                display: inline-block;
                margin-right: 10px;
            }
        }
        &_tel {
            background: url('../assets/svg/phone.svg') 0 4px no-repeat;
        }
        &_whatsapp {
            background: url('../assets/svg/whatsapp.svg') 0 4px no-repeat;
        }
        &_telegram {
            background: url('../assets/svg/telegram.svg') 0 4px no-repeat;
        }
    }
    &__mail {
        display: block;
        color: #FFF;
        font-size: 14px;
        font-weight: 700;
        line-height: 140%; 
        margin-bottom: 20px;
        &::before {
            content: '';
            background: url('../assets/svg/mail.svg') 0 4px no-repeat;
            width: 18px;
            height: 18px;
            display: inline-block;
            margin-right: 10px;
        }
    }
    &__socials {
        display: flex;
        gap: 20px;
    }
    &__vk,
    &__inst {
        svg path {
            transition: 0.3s;
        }
        @media (any-hover: hover) {
            &:hover svg path:first-child { 
            fill-opacity: 1;
            fill: #fff;
            }
            &:hover svg path:last-child {
            fill: $titlesColor;
            }
        }
    }
}

.just-validate-error-label {
    color: rgba(255, 255, 255, 0.80) !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    letter-spacing: 0.48px !important;
}