.for-what {
    padding-bottom: 220px;
    @media (max-width: $md2) {
        padding-bottom: 120px;
    }
    &__title {
        padding-top: 220px;
        margin-bottom: calc(30px + (40 - 30) * ((100vw - 320px) / (1600 - 320)));
    }
    &__description {
        margin-bottom: calc(30px + (40 - 30) * ((100vw - 320px) / (1600 - 320)));
    }
    &__inner {
        display: flex;
        @media (max-width: $md2) {
            display: block;
        }
    }
}

.item-for-what {
    display: flex;
    gap: 20px;
    flex: 0 0 33.33%;
    @media (max-width: $md2) {
       margin-bottom: 30px;
    }
    &__num {
        color: rgba(30, 30, 30, 0.20);
        font-size: 91px;
        font-weight: 800;
        letter-spacing: 2.73px;
        margin-top: -20px;
    }
    &__title {
        color: $titlesColor;
        font-weight: 700;
        line-height: 140%; 
        margin-bottom: 10px;
    }
    &__text {
        max-width: 377px;
        color: rgba(30, 30, 30, 0.80);
        font-weight: 300;
        line-height: 140%;
        @media (max-width: $md2) {
            max-width: 100%;
        }
    }
}