.hero {
  padding-top: 65px;
  @media (max-width: 320px) {
    padding-top: 50px;
  }
    &__container {
        display: flex;
        gap: 60px;
        @media (max-width: 720px) {
            display: block;
        }
    }
    &__title {
        max-width: 1200px;
        position: absolute;
        top: 270px;
        z-index: 3;
        span {
            color: #fff;
        }
        @media (max-width: 2000px) {
            font-size: calc(22px + 50 * ((100vw - 320px) / (1600 - 320)));
        }
        @media (max-width: 1800px) {
         left: 10%;
      }
      @media (max-width: 1650px) {
        left: 9%;
     }
     @media (max-width: 1460px) {
        left: 7%;
   }
        @media (max-width: 1440px) {
          left: 5%;
        }
        @media (max-width: 1370px) {
          left: 2%;
        }
        @media (max-width: 1320px) {
          left: 1%;
        }
        @media (max-width: 1260px) {
          max-width: 550px;
       }
        @media (max-width: 1160px) {
            top: 120px;
            span {
              color: $titlesColor;
            }
          }
          @media (max-width: 720px) {
            position: static;
            max-width: 100%;
            margin-top: 50px;
            span {
                color:$titlesColor;
            }
        }
        @media (max-width: 320px) {
          margin-top: 0;
        }
    }
    &__desc {
        padding-top: 340px;
        color: $titlesColor;
        font-size: 32px;
        font-weight: 800;
        line-height: 110%;
        letter-spacing: 0.96px;
        line-height: 140%;
        margin-bottom: 60px;
        @media (max-width: 1200px) {
            font-size: calc(20px + 3 * ((100vw - 320px) / (1600 - 320)));
        }
        @media (max-width: 1160px) {
            padding-top: 200px;
            margin-bottom: 50px;
          }
          @media (max-width: 720px) {
            padding-top: 30px;
            margin-bottom: 30px;
          }
    }
    &__text {
        position: absolute;
        left: 800px;
        max-width: 460px;
        color: $titlesColor;
        font-size: 18px;
        font-weight: 400;
        line-height: 140%;
        margin-bottom: 60px;
        &-business {
          position: absolute;
          top: 700px;
          left: 500px;
          max-width: 460px;
          color: $titlesColor;
          font-size: 18px;
          font-weight: 400;
          line-height: 140%;
          margin-bottom: 40px;
          @media (max-width: 2560px) {
            left: 800px;
          }
          @media (max-width: 2300px) {
            left: 500px;
          }
          @media (max-width: 1740px) {
            left: 200px;
          }
          @media (max-width: 1275px) {
            left: 80px;
          }
          @media (max-width: 1160px) {
            position: static;
            margin-top: 180px;
          }
          @media (max-width: 720px) {
            max-width: 100%;
            margin-top: 40px;
          }

        }
        @media (max-width: 2300px) {
            left: 500px;
        }
        @media (max-width: 1740px) {
            left: 200px;
        }
        @media (max-width: 1275px) {
          left: 80px;
        }
        @media (max-width: 1160px) {
          position: static;
        }
        @media (max-width: $md2) {
            font-size: 16px;
        }
        @media (max-width: 720px) {
            max-width: 100%;
        }

    }
    &__button {
        position: absolute;
        left: 800px;
        top: 730px;
        background: $titlesColor;
        padding: 16px 28px;
        @media (any-hover: hover) {
            &:hover {
              color: $titlesColor;
              background: #fff;
              border: 3px solid $titlesColor;
            }
          }
          @media (max-width: 2300px) {
            left: 500px;
          }
          @media (max-width: 1740px) {
            left: 200px;
        }
        @media (max-width: 1275px) {
            left: 80px;
        }
        @media (max-width: 1160px) {
            position: static;
          }
    }
    &__button-business {
      top: 800px;
    }
    &__images {
      position: relative;
       margin-left: auto;
       @media (max-width: 1160px) {
        display: none;
      }
    }
    &__images-box {
        display: flex;
        gap: 10px;
    }
    &__images-media {
        display: none;
        margin-top: 120px;

        @media (max-width: 1160px) {
            display: flex;
            flex-direction: column;
            gap: 10px;
          }
          @media (max-width: 830px) {
            max-width: 400px;
          }
          @media (max-width: 720px) {
            max-width: 100%;
          }
          @media (max-width: 320px) {
            position: relative;
            margin-top: 39px;
            z-index: -1;
          }
    }
    &__image_first {
        position: relative;
        z-index: 2;
        margin-top: -50px;
        border-right: 20px solid #fff;
        border-bottom: 20px solid #fff;
        @media (max-width: 1160px) {
            border-right: none;
            border-bottom: none;
            margin-left: auto;
          }
    }
    &__image_third {
        margin-top: -54px;
        margin-left: auto;
        @media (max-width: 1160px) {
           margin-top: 0;
           margin-left: 0;
          }
    }
}

.business-title {
    top: 300px;
    @media (max-width: 1920px) {
     left: 14%;
    }
    @media (max-width: 1440px) {
      left: 9%;
     }
    @media (max-width: 1160px) {
      top: 110px;
    }

}


