.partners {
    padding-bottom: calc(120px + (250 - 120) * ((100vw - 320px) / (1600 - 320)));
    &__title {
        margin-bottom: calc(30px + (70 - 30) * ((100vw - 320px) / (1600 - 320)));
        text-align: center;
    }
    &__inner {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-bottom: calc(30px + (40 - 30) * ((100vw - 320px) / (1600 - 320)));
        flex-wrap: wrap;
        flex-shrink: 0;
    }
    &__item {
        width: 223px;
         @media (max-width: 450px) {
            width: 175px;
         }
         @media (max-width: 400px) {
            width: 135px;
         }
    }
    &__btn {
        margin-bottom: 50px;
    }
}

.partners-all {
    padding-bottom: calc(120px + (280 - 120) * ((100vw - 320px) / (1600 - 320)));
}