.main-price {
    padding-bottom: 80px;
    &__content {
        position: relative;
    }
    &__title {
        position: relative;
        padding-top: calc(120px + (220 - 120) * ((100vw - 320px) / (1600 - 320)));
        text-align: center;
        margin-bottom: 30px;
    }
    &__text {
        opacity: 0.8;
        max-width: 480px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: calc(30px + (80 - 30) * ((100vw - 320px) / (1600 - 320)));
    }
    &__inner {
        display: flex;
        gap: 20px;
        padding-bottom: 30px;
        @media (max-width: $md2) {
            gap: 0;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        height: auto;
        flex: 1 1 25%;
        cursor: pointer;
        @media (max-width: 1100px) {
            min-width: 242px;
        }
    }
}

.item-price {
    display: flex;
    background: rgba(30, 30, 30, 0.05);
    padding: 30px 30px;
    border: 10px solid transparent;
    transition: 0.3s;
    cursor: pointer;
    @media (any-hover: hover) {
        &:hover {
            border: 10px solid rgba(30, 30, 30, 0.05);
            background: #fff;
        }
    }
    @media (max-width: $md3) {
        padding: 30px;
    }
    &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__title { 
    min-height: 78px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: $titlesColor;
    line-height: 110%;
    letter-spacing: 0.72px;
    margin-bottom: calc(15px + (20 - 15) * ((100vw - 320px) / (1600 - 320)));
    &_title {
        min-height: 26px;
    }
    @media (max-width: $md3) {
        font-size: 20px;
        letter-spacing: 0.6px;
    }
    }
    &__subtitle {
        color: $titlesColor;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        line-height: 140%;
        margin-bottom: 20px;
        @media (max-width: $md3) {
            font-size: 18px;
        }
    }
    &__price {
        color: $titlesColor;
        font-size: 20px;
        font-weight: 400;
        line-height: 140%;
        text-align: center;
        padding-bottom: 30px;
        border-bottom: 1px solid #1F1F1F26;
        @media (max-width: $md3) {
            font-size: 18px;
        }
    }
    &__text {
        color: rgba(30, 30, 30, 0.80);
        text-align: center;
        font-weight: 300;
        line-height: 140%;
        &:not(:last-child) {
            margin-bottom: calc(15px + (20 - 15) * ((100vw - 320px) / (1600 - 320)));
        }
        &_first {
            margin-top: calc(20px + (30 - 20) * ((100vw - 320px) / (1600 - 320)));
        }
    }
    &__note {
        color: rgba(30, 30, 30, 0.50);
        text-align: center;
        font-size: 12px;
        font-weight: 300;
        line-height: 140%;
    }
}

.price {
    padding-bottom: calc(120px + (195 - 120) * ((100vw - 320px) / (1600 - 320)));
    &__container {
        display: flex;
        gap: 20px;
        @media (max-width: 640px) {
            gap: 0;
        }
    }
    &__box {
        position: relative;
    }
    &__item {
        display: flex;
        height: auto;
        flex: 1 1 50%;
        max-width: 710px;
        @media (max-width: 640px) {
            flex: 0 0 280px;
           margin-bottom: 30px;
        }
    }
    &__title {
        text-align: center;
        margin-bottom: 30px;
    }
    &__text {
        opacity: 0.8;
        max-width: 480px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: calc(30px + (75 - 30) * ((100vw - 320px) / (1600 - 320)));
    }
}

.swiper-pagination-progressbar-fill {
    background: $titlesColor !important;
}

.main-price .container {
    @media (max-width: $md3) {
      padding-right: 0;
    }
}

.price .container {
    @media (max-width: $md3) {
      padding-right: 0;
    }
}


