$mainFontFamily: 'Geologica', sans-serif;

$titlesColor: #1E1E1E;
$textsColor: #1E1E1ECC;
$bgcolorGray: #F7F7F7;

$maxWidthContainer: 1460px;

$md1: $maxWidthContainer + 12;
$md2: 991.98px;
$md3: 768px;
$md4: 480px;
